* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
}
.parent {
  padding: 20px;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  flex-wrap: wrap;
  gap: 20px;
}
.card {
  width: 300px;
  border: 1px solid white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}
.card button {
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
}
.card p {
  margin: 20px 0;
}
.card img {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  object-fit: cover;
}
.card img:hover {
  transform: scale(95%);
}
.nav {
  background-color: lightseagreen;
  padding: 10px;
  margin: 10px;
}