* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
.light,.dark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}
.nav2 {
  display: flex;
  gap: 30px;
}
.light {
  background-color: lightseagreen;
  color: #111;
}
.dark {
  background-color: darkslategrey;
  color: #fff;
}