* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
button {
  margin: 10px;
  padding: 10px 10px;
}
h1 {
  background-color: rgb(202, 202, 202);
  width: fit-content;
  font-size: 100px;
  padding: 10px 70px;
  margin: 20px;
  border-radius: 10px;
}