* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
.light {
  background-color: #fff;
  color: #333;
}
.dark {
  background-color: #333;
  color: #fff;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 15px;
}